In [1]:
import pandas as pd
import datetime as dt
import sklearn.model_selection as skms
import sklearn.preprocessing as skp
import sklearn.linear_model as sklm
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [122]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales.csv')

In [123]:
bakery_sales_dataset.head()

   Sales_Date  Sales_Quarter                Sales_Item  Quantity
0  2016-11-09              3                Adjustment         1
1  2017-01-06              3  Afternoon with the baker         1
2  2017-01-07              3  Afternoon with the baker         1
3  2017-01-08              3  Afternoon with the baker         1
4  2017-01-11              3  Afternoon with the baker         2

In [124]:
bakery_sales_dataset.tail()

      Sales_Date  Sales_Quarter        Sales_Item  Quantity
5471  2016-10-30              3  Victorian Sponge         1
5472  2016-11-01              2  Victorian Sponge         1
5473  2016-11-05              2  Victorian Sponge         1
5474  2016-11-06              3  Victorian Sponge         1
5475  2016-11-16              3  Victorian Sponge         1

In [125]:
bakery_sales_dataset.dtypes

Sales_Date       object
Sales_Quarter     int64
Sales_Item       object
Quantity          int64
dtype: object

In [126]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [127]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [128]:
bakery_sales_dataset.head()

   Sales_Date  Sales_Quarter                Sales_Item  Quantity
0      736277              3                Adjustment         1
1      736335              3  Afternoon with the baker         1
2      736336              3  Afternoon with the baker         1
3      736337              3  Afternoon with the baker         1
4      736340              3  Afternoon with the baker         2

In [129]:
bakery_sales_dataset.dtypes

Sales_Date        int64
Sales_Quarter     int64
Sales_Item       object
Quantity          int64
dtype: object

In [91]:
#bakery_sales_dataset['Sales_Quarter']=bakery_sales_dataset['Sales_Quarter'].astype('category')
#bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].astype('category')

In [130]:
bakery_sales_dataset.dtypes

Sales_Date        int64
Sales_Quarter     int64
Sales_Item       object
Quantity          int64
dtype: object

In [131]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Quarter','Sales_Item']]

In [132]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [133]:
label_encoder=skp.LabelEncoder()
print(x.shape)

(5476, 3)

In [134]:
x['Sales_Item']=label_encoder.fit_transform(x['Sales_Item'])

In [135]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [136]:
print(x_train)

      Sales_Date  Sales_Quarter  Sales_Item
3223      736374              2          55
294       736419              3           6
2400      736280              3          46
2472      736293              3          48
1977      736270              2          37
2355      736364              2          43
3840      736396              3          72
1430      736407              3          23
5206      736360              2          87
514       736360              3          11
1011      736405              3          15
4328      736380              2          75
5394      736411              3          88
3392      736274              2          60
1418      736401              3          23
1949      736369              2          35
406       736303              2          11
450       736327              2          11
32        736271              2           2
1465      736425              2          23
3755      736402              2          65
2928      736358              2          51
4110      736413              2          73
2577      736363              2          48
5223      736373              2          87
1665      736306              2          26
2889      736317              3          51
630       736418              3          11
2755      736399              2          49
1939      736350              3          35
...          ...            ...         ...
423       736311              3          11
3219      736371              3          55
659       736272              3          14
797       736269              2          15
755       736379              3          14
2008      736295              2          37
99        736342              2           2
2496      736309              2          48
1871      736424              3          29
2046      736325              3          37
4851      736343              2          83
5072      736337              3          86
2163      736273              2          38
2893      736320              3          51
537       736372              2          11
1701      736338              3          26
2897      736326              3          51
2222      736335              3          39
2135      736406              2          37
2599      736374              3          48
705       736319              3          14
3468      736354              3          60
4373      736422              3          75
1033      736418              3          15
4859      736347              2          83
4931      736384              2          83
3264      736419              2          55
1653      736298              3          26
2607      736378              3          48
2732      736350              3          49

[4107 rows x 3 columns]

In [137]:
lm=sklm.LinearRegression()

In [138]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [139]:
prediction=lm.predict(x_test)

In [140]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 20.24
Variance score: 0.10

In [141]:
dtr=DecisionTreeRegressor()

In [142]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [143]:
prediction=lm.predict(x_test)

In [144]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 20.24
Variance score: 0.10

In [145]:
rfr=RandomForestRegressor()

In [146]:
rfr.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [147]:
prediction=lm.predict(x_test)

In [148]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 20.24
Variance score: 0.10

In [149]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V2.csv')

In [150]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [151]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [152]:
bakery_sales_dataset.head()

       Sales_Item  Sales_Date  Quantity
0  Spanish Brunch      736387         1
1       Medialuna      736310         2
2        Truffles      736417         1
3          Coffee      736305        22
4            Soup      736419         3

In [154]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].astype('category')

In [155]:
bakery_sales_dataset.dtypes

Sales_Item    category
Sales_Date       int64
Quantity         int64
dtype: object

In [156]:
x=bakery_sales_dataset.loc[:,['Sales_Item','Sales_Date']]

In [157]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [158]:
label_encoder=skp.LabelEncoder()

In [159]:
x['Sales_Item']=label_encoder.fit_transform(x['Sales_Item'])

In [160]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [161]:
lm=sklm.LinearRegression()

In [162]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [163]:
prediction=lm.predict(x_test)

In [164]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 64.08
Variance score: 0.07

In [2]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V3.csv')

In [3]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [4]:
bakery_sales_dataset['Sales_Quarter']=bakery_sales_dataset['Sales_Quarter'].astype('category')

In [5]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].astype('category')

In [6]:
bakery_sales_dataset.dtypes

Sales_Date          int64
Sales_Quarter    category
Sales_Item       category
Quantity            int64
dtype: object

In [7]:
print(bakery_sales_dataset['Sales_Item'])

0       Pastry
1        Bread
2         Cake
3        Bread
4        Bread
5         Cake
6       Coffee
7          Tea
8       Coffee
9         Cake
10       Bread
11      Coffee
12       Bread
13         Tea
14      Coffee
15        Cake
16        Cake
17        Cake
18      Pastry
19       Bread
20         Tea
21      Pastry
22      Pastry
23       Bread
24        Cake
25       Bread
26         Tea
27         Tea
28      Coffee
29       Bread
         ...
1403      Cake
1404       Tea
1405    Coffee
1406      Cake
1407    Pastry
1408       Tea
1409       Tea
1410     Bread
1411     Bread
1412       Tea
1413    Coffee
1414     Bread
1415     Bread
1416    Pastry
1417     Bread
1418       Tea
1419    Pastry
1420    Coffee
1421      Cake
1422     Bread
1423    Pastry
1424     Bread
1425     Bread
1426    Coffee
1427    Coffee
1428      Cake
1429     Bread
1430      Cake
1431      Cake
1432      Cake
Name: Sales_Item, Length: 1433, dtype: category
Categories (5, object): [Bread, Cake, Coffee, Pastry, Tea]

In [8]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4}).astype(int)

In [9]:
print(bakery_sales_dataset['Sales_Item'])

0       4
1       1
2       3
3       1
4       1
5       3
6       0
7       2
8       0
9       3
10      1
11      0
12      1
13      2
14      0
15      3
16      3
17      3
18      4
19      1
20      2
21      4
22      4
23      1
24      3
25      1
26      2
27      2
28      0
29      1
       ..
1403    3
1404    2
1405    0
1406    3
1407    4
1408    2
1409    2
1410    1
1411    1
1412    2
1413    0
1414    1
1415    1
1416    4
1417    1
1418    2
1419    4
1420    0
1421    3
1422    1
1423    4
1424    1
1425    1
1426    0
1427    0
1428    3
1429    1
1430    3
1431    3
1432    3
Name: Sales_Item, Length: 1433, dtype: int32

In [10]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Quarter','Sales_Item']]

In [11]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [13]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [14]:
print(x_train)

      Sales_Date Sales_Quarter  Sales_Item
958       736338             2           0
276       736311             2           1
418       736426             3           2
269       736293             3           3
839       736409             2           4
420       736270             3           1
880       736284             3           0
431       736276             2           1
283       736390             3           3
940       736403             3           3
764       736414             3           0
1376      736424             3           0
904       736332             3           3
338       736273             3           3
363       736370             2           4
656       736385             2           0
921       736334             2           3
436       736410             2           1
320       736305             2           0
1328      736394             2           0
195       736375             2           2
842       736286             2           2
1148      736391             2           1
70        736279             3           2
1196      736310             2           4
670       736289             2           0
10        736302             3           1
985       736378             3           4
1224      736272             2           4
1159      736405             3           0
...          ...           ...         ...
1408      736392             2           2
1201      736317             2           1
99        736416             2           2
850       736348             2           0
448       736376             2           0
755       736396             2           0
976       736290             3           4
115       736361             2           4
777       736424             3           3
72        736309             2           0
845       736294             3           0
537       736426             2           4
849       736393             2           2
174       736310             3           2
87        736307             2           2
551       736366             3           0
705       736388             2           4
314       736320             3           3
1420      736311             3           0
600       736377             2           3
1094      736365             2           0
599       736356             3           3
277       736360             3           4
1033      736353             2           0
1383      736273             2           2
763       736336             2           2
835       736338             3           1
1216      736269             3           0
559       736366             3           3
684       736381             2           0

[1074 rows x 3 columns]

In [15]:
print(y_train)

      Quantity
958         21
276          9
418          3
269          1
839          4
420          4
880         12
431          3
283          3
940          7
764         12
1376        13
904          6
338          6
363          3
656         32
921          1
436         11
320         13
1328        16
195          2
842          6
1148        11
70           4
1196         3
670         23
10           7
985          1
1224         6
1159        20
...        ...
1408         4
1201        13
99           3
850         19
448         16
755          7
976          1
115          4
777         10
72          18
845         18
537          2
849          2
174          3
87           7
551         15
705          4
314          6
1420        12
600          3
1094        35
599          5
277          1
1033        18
1383         6
763          3
835          3
1216        15
559          5
684         13

[1074 rows x 1 columns]

In [16]:
lm=sklm.LinearRegression()

In [17]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
prediction=lm.predict(x_test)

In [19]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 26.53
Variance score: 0.49

In [29]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V4.csv')

In [30]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [31]:
bakery_sales_dataset['Sales_Quarter']=bakery_sales_dataset['Sales_Quarter'].astype('category')

In [34]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1}).astype(int)

In [35]:
print(bakery_sales_dataset['Sales_Item'])

0      0
1      1
2      1
3      1
4      0
5      1
6      1
7      0
8      1
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     1
17     0
18     1
19     1
20     1
21     0
22     1
23     0
24     1
25     1
26     0
27     1
28     1
29     1
      ..
603    0
604    0
605    0
606    1
607    1
608    0
609    1
610    0
611    0
612    1
613    0
614    0
615    1
616    1
617    0
618    1
619    0
620    0
621    1
622    0
623    1
624    1
625    1
626    1
627    0
628    0
629    1
630    1
631    1
632    0
Name: Sales_Item, Length: 633, dtype: int32

In [36]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Quarter','Sales_Item']]

In [37]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [38]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [39]:
print(x_train)

     Sales_Date Sales_Quarter  Sales_Item
490      736384             2           0
196      736340             3           1
513      736412             2           0
96       736389             2           1
378      736313             2           0
546      736288             2           1
482      736287             3           1
89       736410             3           0
524      736314             2           0
235      736387             3           0
194      736270             3           1
46       736301             3           0
432      736392             3           0
278      736359             2           1
494      736427             2           0
434      736325             2           0
456      736401             3           0
107      736388             2           1
225      736321             2           0
401      736419             3           1
0        736291             2           0
452      736309             2           1
71       736356             3           1
187      736393             2           1
102      736282             2           1
425      736382             3           1
108      736296             3           0
333      736273             2           1
575      736267             3           0
573      736360             3           0
..          ...           ...         ...
543      736382             2           0
544      736420             3           0
265      736421             3           1
288      736309             3           0
423      736419             3           0
147      736301             2           0
177      736374             2           0
99       736334             2           0
448      736322             3           1
431      736344             3           0
115      736297             3           1
72       736389             2           0
537      736353             3           1
623      736367             3           1
174      736303             2           1
87       736332             3           0
551      736297             2           0
486      736405             2           1
314      736426             2           1
396      736299             2           0
600      736283             2           0
472      736378             3           1
70       736367             2           1
599      736383             3           1
277      736303             3           1
9        736379             2           0
359      736425             2           1
192      736426             3           1
629      736422             2           1
559      736373             2           0

[474 rows x 3 columns]

In [40]:
print(y_train)

     Quantity
490        25
196         5
513        28
96          6
378        17
546        18
482        13
89         13
524        25
235         7
194         4
46         22
432        18
278        11
494        22
434        17
456        14
107        20
225        23
401        14
0          15
452        14
71          7
187        10
102         9
425        10
108        12
333        27
575        13
573        11
..        ...
543        13
544        13
265         6
288        11
423        18
147        23
177        20
99         15
448         5
431        14
115         4
72         15
537         9
623         6
174         9
87         14
551        20
486        10
314        11
396        10
600        25
472        10
70         11
599         5
277         8
9          28
359         7
192         4
629         8
559        24

[474 rows x 1 columns]

In [41]:
lm=sklm.LinearRegression()

In [42]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [43]:
prediction=lm.predict(x_test)

In [44]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 31.15
Variance score: 0.42

In [45]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V5.csv')

In [47]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [49]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [50]:
bakery_sales_dataset['Sales_Quarter']=bakery_sales_dataset['Sales_Quarter'].astype('category')

In [51]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2}).astype(int)

In [52]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Quarter','Sales_Item']]

In [53]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [54]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [55]:
lm=sklm.LinearRegression()

In [56]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [57]:
prediction=lm.predict(x_test)

In [58]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 21.45
Variance score: 0.55

In [2]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V6.csv')

In [3]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [4]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [5]:
bakery_sales_dataset['Sales_Quarter']=bakery_sales_dataset['Sales_Quarter'].astype('category')

In [6]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3}).astype(int)

In [7]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Quarter','Sales_Item']]

In [8]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [9]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [10]:
lm=sklm.LinearRegression()

In [11]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
prediction=lm.predict(x_test)

In [13]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 24.13
Variance score: 0.56

In [14]:
dtr=DecisionTreeRegressor()

In [15]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [22]:
prediction=dtr.predict(x_test)

In [23]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 30.99
Variance score: 0.43

In [18]:
rfr=RandomForestRegressor()

In [19]:
rfr.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [24]:
prediction=rfr.predict(x_test)

In [25]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 24.68
Variance score: 0.55

In [26]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V14.csv')

In [27]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [28]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [29]:
bakery_sales_dataset['Sales_Quarter']=bakery_sales_dataset['Sales_Quarter'].astype('category')

In [30]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1}).astype(int)

In [31]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Quarter','Sales_Item']]

In [32]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [33]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [34]:
lm=sklm.LinearRegression()

In [35]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [36]:
prediction=lm.predict(x_test)

In [37]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 31.15
Variance score: 0.42

In [38]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V15.csv')

In [39]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [40]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [41]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3}).astype(int)

In [42]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [43]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [44]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [45]:
lm=sklm.LinearRegression()

In [46]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [47]:
prediction=lm.predict(x_test)

In [48]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 60.52
Variance score: 0.66

In [49]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V16.csv')

In [50]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3}).astype(int)

In [51]:
x=bakery_sales_dataset.loc[:,['Sales_Year','Sales_Month','Sales_Item']]

In [52]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [53]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [54]:
lm=sklm.LinearRegression()

In [55]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [56]:
prediction=lm.predict(x_test)

In [57]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 62129.51
Variance score: 0.61

In [2]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V17.csv')

In [3]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [4]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [5]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4}).astype(int)

In [6]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [7]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [8]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [9]:
lm=sklm.LinearRegression()

In [10]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
prediction=lm.predict(x_test)

In [12]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 62.29
Variance score: 0.63

In [13]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V18.csv')

In [14]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [15]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [16]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4,'Sandwich':5}).astype(int)

In [17]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [18]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [19]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [20]:
lm=sklm.LinearRegression()

In [21]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
prediction=lm.predict(x_test)

In [23]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 59.68
Variance score: 0.62

In [24]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V19.csv')

In [25]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [26]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [28]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4,'Sandwich':5,'Medialuna':6}).astype(int)

In [29]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [30]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [31]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [32]:
lm=sklm.LinearRegression()

In [33]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [34]:
prediction=lm.predict(x_test)

In [35]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 71.06
Variance score: 0.55

In [36]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V20.csv')

In [37]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [38]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [39]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4,'Sandwich':5,'Hot chocolate':6}).astype(int)

In [40]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [41]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [42]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [43]:
lm=sklm.LinearRegression()

In [44]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [45]:
prediction=lm.predict(x_test)

In [46]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 73.64
Variance score: 0.56

In [47]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V21.csv')

In [48]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [49]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [50]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4,'Sandwich':5,'Cookies':6}).astype(int)

In [51]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [52]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [53]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [54]:
lm=sklm.LinearRegression()

In [55]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [56]:
prediction=lm.predict(x_test)

In [57]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 58.15
Variance score: 0.56

In [58]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V22.csv')

In [59]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [60]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [61]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4,'Sandwich':5,'Brownie':6}).astype(int)

In [62]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [63]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [64]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [65]:
lm=sklm.LinearRegression()

In [66]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [67]:
prediction=lm.predict(x_test)

In [68]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 65.21
Variance score: 0.61

In [69]:
bakery_sales_dataset=pd.read_csv(r'D:\Thimantha\Documents2\Data Science\Bakery-Sales-V23.csv')

In [70]:
bakery_sales_dataset['Sales_Date']=pd.to_datetime(bakery_sales_dataset['Sales_Date'])

In [71]:
bakery_sales_dataset['Sales_Date']=bakery_sales_dataset['Sales_Date'].map(dt.datetime.toordinal)

In [72]:
bakery_sales_dataset['Sales_Item']=bakery_sales_dataset['Sales_Item'].map({'Coffee':0,'Bread':1,'Tea':2,'Cake':3,'Pastry':4,'Sandwich':5,'Muffin':6}).astype(int)

In [73]:
x=bakery_sales_dataset.loc[:,['Sales_Date','Sales_Item']]

In [74]:
y=bakery_sales_dataset.loc[:,['Quantity']]

In [75]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [76]:
lm=sklm.LinearRegression()

In [77]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [78]:
prediction=lm.predict(x_test)

In [79]:
print("Mean squared error : %.2f"
      % mean_squared_error(y_test,prediction))


print('Variance score: %.2f' % r2_score(y_test,prediction))

Mean squared error : 71.59
Variance score: 0.56