In [70]:
import pandas as pd
import datetime as dt
import sklearn.model_selection as skms
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [2]:
appointment_data=pd.read_csv('D:\Thimantha\Documents2\Data Science\Medical-Appointments-May-2016.csv')

In [3]:
appointment_data.shape

(110527, 14)

In [4]:
appointment_data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
appointment_data=appointment_data.loc[:,['Gender','ScheduledDay','AppointmentDay','Age','Scholarship','Hipertension','Diabetes','Alcoholism','Handcap','SMS_received','No-show']]

In [6]:
appointment_data.dtypes

Gender            object
ScheduledDay      object
AppointmentDay    object
Age                int64
Scholarship        int64
Hipertension       int64
Diabetes           int64
Alcoholism         int64
Handcap            int64
SMS_received       int64
No-show           object
dtype: object

In [7]:
appointment_data['ScheduledDay']=pd.to_datetime(appointment_data['ScheduledDay'])
appointment_data['ScheduledDay']=appointment_data['ScheduledDay'].map(dt.datetime.toordinal)

In [8]:
appointment_data['AppointmentDay']=pd.to_datetime(appointment_data['AppointmentDay'])
appointment_data['AppointmentDay']=appointment_data['AppointmentDay'].map(dt.datetime.toordinal)

In [9]:
appointment_data.head()

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,736083,736083,62,0,1,0,0,0,0,No
1,M,736083,736083,56,0,0,0,0,0,0,No
2,F,736083,736083,62,0,0,0,0,0,0,No
3,F,736083,736083,8,0,0,0,0,0,0,No
4,F,736083,736083,56,0,1,1,0,0,0,No

In [10]:
appointment_data['Gender']=appointment_data['Gender'].map({'M':0,'F':1}).astype(int)

In [11]:
appointment_data.head()

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,1,736083,736083,62,0,1,0,0,0,0,No
1,0,736083,736083,56,0,0,0,0,0,0,No
2,1,736083,736083,62,0,0,0,0,0,0,No
3,1,736083,736083,8,0,0,0,0,0,0,No
4,1,736083,736083,56,0,1,1,0,0,0,No

In [12]:
appointment_data['No-show']=appointment_data['No-show'].map({'Yes':1,'No':0}).astype(int)

In [14]:
appointment_data.head()

,Gender,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,1,736083,736083,62,0,1,0,0,0,0,0
1,0,736083,736083,56,0,0,0,0,0,0,0
2,1,736083,736083,62,0,0,0,0,0,0,0
3,1,736083,736083,8,0,0,0,0,0,0,0
4,1,736083,736083,56,0,1,1,0,0,0,0

In [15]:
x=appointment_data.loc[:,['Gender','ScheduledDay','AppointmentDay','Age','Scholarship','Hipertension','Diabetes','Alcoholism','Handcap','SMS_received']]

In [16]:
y=appointment_data.loc[:,['No-show']]

In [18]:
x_train,x_test,y_train,y_test=skms.train_test_split(x,y,test_size=1/4,random_state=0)

In [20]:
dtc=DecisionTreeClassifier()

In [21]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [22]:
prediction=dtc.predict(x_test)

In [24]:
print(accuracy_score(prediction,y_test))

0.7379849449913144

In [27]:
lr=LogisticRegression()

In [28]:
lr.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
prediction=lr.predict(x_test)

In [30]:
print(accuracy_score(prediction,y_test))

0.801679212507238

In [32]:
rfc=RandomForestClassifier()

In [33]:
rfc.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [34]:
prediction=rfc.predict(x_test)

In [35]:
print(accuracy_score(prediction,y_test))

0.7615083960625362

In [38]:
svc=SVC()

In [44]:
svc.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [40]:
prediction=svc.predict(x_test)

In [41]:
print(accuracy_score(prediction,y_test))

0.7993268674001158

In [46]:
nb=GaussianNB()

In [47]:
nb.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [48]:
prediction=nb.predict(x_test)

In [49]:
print(accuracy_score(prediction,y_test))

0.7813766647365373

In [60]:
linear_svc=SVC(kernel='linear',C=0.025,random_state=101)

In [61]:
linear_svc.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=0.025, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=101,
  shrinking=True, tol=0.001, verbose=False)

In [62]:
prediction=linear_svc.predict(x_test)

In [63]:
print(accuracy_score(prediction,y_test))

0.801679212507238

In [65]:
knc=KNeighborsClassifier()

In [66]:
knc.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [67]:
prediction=knc.predict(x_test)

In [68]:
print(accuracy_score(prediction,y_test))

0.7704473074696004

In [71]:
sgd=SGDClassifier()

In [72]:
sgd.fit(x_train,y_train)

C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\thimanthav.BRANDIXLK\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='hinge', max_iter=None,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [73]:
prediction=sgd.predict(x_test)

In [74]:
print(accuracy_score(prediction,y_test))

0.801679212507238